.ticket-label {
  /* margin-right: 1182px; */
  margin-left: 8px;
  margin-top: 25px;
  /* background: #ffc107; */
  color: black;
  width: 7%;
}

.trash {
  display: flex;
  justify-content: space-between;
}

.trash svg {
  height: 16px;
  width: 16px;
  cursor: pointer;   
}




@media (max-width: 500px) {
  .search_bar {
    width: 65% !important;
  }
}

@media (max-width: 770px) {
  .search_bar {
    width: 46% !important;
  }
}
